<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <center>
        <h1>wellcome to {{user_name}}</h1>
        <hr>
    </center>
    <h1>user name == {{user_name}}</h1>
    <h3>list_works:</h3>
    <p>list elements :{{list_of_names}}</p>
    <p>list scliceing :{{list_of_names[0:2]}}</p>
    <p>list indexing [3] : {{list_of_names[3]}}</p>
    <hr>
    <h3>json:</h3>
    <p>{{dic}}</p>
    <p>age:{{dic.get("age")}}</p>
    
</body>
</html>